

.melhores-calcados{
    text-align: center;
    padding-top: 25px;
}

.melhores-calcados h1 {
    font-weight: bold;
}

.container-produtos{
    display: flex;
    gap: 300px;
    justify-content: center;
}

.container-produtos-2{
    display: flex;
    gap: 300px;
    justify-content: center;
}

/*.produto-esquerda-1{
    float: left;
    padding-left: 35px;
    text-align: center;
}

.produto-direita-1{
    float: right;
    padding-right: 35px;
    text-align: center;
}

.produto-centro-1{
    text-align: center;
}*/

.container-produtos img{
    height: 200px;
}

.container-banner img{
    width: 100%;
}

.container-banner{
    padding-bottom: 80px;
}

.bloco-esquerda p{
    padding: 4px;
}

.bloco-centro p{
    padding: 4px;
}

.bloco-direita p{
    padding: 4px;
}

.produto-esquerda-2{
    width: 150px;
}
